@media all {
.wrapping-col > .d-margins,
.wrapping-col > .afScrollPanel > .d-margins {  margin-left:6px;
}

.wrapping-col > .d-margins,
.wrapping-col > .afScrollPanel > .d-margins {  margin-left:6px;
}

.d-margins {  margin-top:45px;
  margin-bottom:0px;
}

}

