.bar > .buttons .d-margins {
  margin: auto;
}
.bar {
  z-index: 1;
}
.upage-outer.fixed-header-footer {
  position: static;
}
.vertical-col > ion-list.widget,
.vertical-col > .widget.item-radio,
.vertical-col > .widget.item-toggle,
.vertical-col > .widget.list,
.vertical-col > .widget.item-select,
.vertical-col > .widget.item-checkbox,
.vertical-col > .widget.button {
  margin-left: 0;
  display: inline-block;
  width: 100%;
}
.vertical-col > .widget.item.range,
.vertical-col > .widget.button-bar,
.vertical-col > .widget.tabs {
  margin-left: 0;
  width: 100%;
}
.vertical-col > .widget.item-input {
  margin-left: 0;
  display: inline-flex;
  width: 100%;
}
.vertical-col > .widget.item-input.item-floating-label,
.vertical-col > .widget.item-input.item-stacked-label {
  margin-left: 0;
  display: inline-block;
  width: 100%;
}
.list .d-margins,
.button-bar .d-margins,
.tabs .d-margins {
  margin: 0;
}
@media all {
  .wrapping-col > .d-margins,
  .wrapping-col > .afScrollPanel > .d-margins {
    margin-left: 6px;
    margin-right: 6px;
  }
  .wrapping-col > .d-margins,
  .wrapping-col > .afScrollPanel > .d-margins {
    margin-left: 6px;
    margin-right: 6px;
  }
  .d-margins {
    margin-top: 44px;
  }
}
.left-receptacle {
  float: left;
}
.right-receptacle {
  float: right;
}
[data-uib="media/text"] p:first-of-type {
  margin-top: 0px;
}
.ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
@media all {
  .grid-pad {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media all and (min-width: 317px) {
  .row-height-1 > .col > .content-area {
    min-height: 100px;
  }
}
@media all and (min-width: 317px) {
  .row-height-2 > .col > .content-area {
    min-height: 100px;
  }
}
